<div class="card voice-template">
  <div class="card-header no-border bg-transparent pad-tb-10 pad-lr-10">
    <!-- <button type="button" class="letter-spacing-1 f-size-14 card-link bg-grey pad-lr-15 pad-tb-5 border-r-5 text-white font-600 no-border" data-toggle="collapse" data-target="#collapseOne">
      <img src="/assets/images/call.png" />
    </button> -->
    <button type="button"
      class="letter-spacing-1 f-size-14 card-link bg-transparent pad-lr-15 pad-tb-5 border-r-5 no-border"
      data-toggle="collapse" data-target="#collapseThree">
      <img class="max-height-35" src="/assets/images/hello.png" />
    </button>
  </div>
  <div id="collapseThree" class="collapse in show">
    <div class="card-body">
      <form [formGroup]="greetingsForm" (ngSubmit)="submit()">
        <div formGroupName="Play">
          <div class="form-group">
            <label class="voice-heading" for="playClip">Audio Choice
              <p> [ When the caller reaches this prompt, they will
                hear ]
              </p>
            </label>
            <input placeholder="Enter Value" type="text" class="voice-input" id="Clip" formControlName="Clip"
              [ngClass]="{ 'is-invalid': submitted && form.Play.controls.Clip.errors }">
            <div *ngIf="submitted && form.Play.controls.Clip.errors" class="invalid-feedback">
              <div *ngIf="form.Play.controls.Clip.errors.required">Play Clip is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label class="voice-heading" for="SkipTime">Specify skip time in milliseconds
              <p>
                [ Specify the postion to start playing the
                selected audio.( Leave blank for default ) ]
              </p>
            </label>
            <input placeholder="Enter Value" type="number" class="voice-input" id="SkipTime" formControlName="SkipTime"
              [ngClass]="{ 'is-invalid': submitted && form.Play.controls.SkipTime.errors }">
            <div *ngIf="submitted && form.Play.controls.SkipTime.errors" class="invalid-feedback">
              <div *ngIf="form.Play.controls.SkipTime.errors.required">SkipTime is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label class="voice-heading" for="pwd">Next <p> [ After the initial prompt, continue to the next applet ]
              </p></label>
            <div id="greetingsDropArea" class="dropArea" (drop)="drop($event)" ondragover="allowDrop(event)"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>