p.title{
  position: absolute;
  z-index: 1;
  background: #dcdef1;
  padding: 0px 8px;
  top: -146%;
  font-size: 13px;
  letter-spacing: 1px;
  left: 10%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
  pointer-events: none;
  border-radius: 5px;

  & + span{
    height: 13px;
    width: 20px;
    background: #dcdef1;
    display: inline-block;
    position: absolute;
    top: -23px;
    left: 18px;
    transform: rotate(45deg);
  }
}

