.sub-applet-container{
  padding: 15px 20px;
  background: #ececec;
  border-radius: 15px;
  margin: 10px 0px;
  position: relative;
  .minimize-applet, .remove-applet{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #f84a59; 
  }
  // .minimize-applet{
  //   color: #868686;
  //   right: 35px;
  // }
  .add-applet{
    position: absolute;
    top: -30px;
    right: 5px;
    background: #ececec;
    cursor: pointer;
    font-size: 20px;
    color: #2b9688;
  }
}