<div class="card voice-template">
	<div class="card-header no-border bg-transparent pad-tb-10 pad-lr-10">
		<!-- <button type="button" class="card-link" data-toggle="collapse" data-target="#collapseOne">
      Menus
    </button> -->
		<button type="button"
			class="letter-spacing-1 f-size-14 card-link bg-transparent pad-lr-15 pad-tb-5 border-r-5 no-border"
			data-toggle="collapse" data-target="#collapseOne">
			<img class="max-height-35" src="/assets/images/menu.png" />
		</button>
	</div>
	<div id="collapseOne" class="collapse show in">
		<div class="card-body">
			<form [formGroup]="menusForm" (ngSubmit)="submit()">
				<div formGroupName="Menus">

					<div class="form-group">
						<label class="voice-heading" for="Clip">Audio Choice <p>[ When the caller reaches this prompt, they will
								hear ]</p></label>
						<input type="text" placeholder="Enter Value" class="voice-input" id="Clip" formControlName="Clip"
							[ngClass]="{ 'is-invalid': submitted && form.controls.Clip.errors }" placeholder="Enter Value">
						<div *ngIf="submitted && form.controls.Clip.errors" class="invalid-feedback">
							<div *ngIf="form.controls.Clip.errors.required">Play Clip is required.</div>
						</div>
					</div>
					<!-- list of addresses -->
					<div formArrayName="Keypress">
						<div class="row">
							<div class="col voice-heading">Keypress</div>
							<div class="col"></div>
						</div>
						<div class="sub-applet-container" *ngFor="let key of form.controls.Keypress.controls; let i=index">
							<!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
							<div [formGroupName]="i">
							<ng-container *ngIf="i === 0">
								<i class="add-applet fa fa-plus-circle" (click)="addKeypress($event)"></i>
							</ng-container>
								<!--street-->
								<div class="row">
									<div class="col-sm-8">
										<label class="f-size-14 letter-spacing-1">Key {{i + 1}}</label>
										<input type="text" class="voice-input mar-t-30" placeholder="Enter Key Name" formControlName="key">
										<!--display error message if street is not valid-->
										<div *ngIf="submitted && form.controls.Keypress.errors" class="invalid-feedback">
											<div *ngIf="form.controls.Keypress.errors.required">Key is required.</div>
										</div>

									</div>
									<!--postcode-->
									<div class="col-sm-4">
										<label class="f-size-14 letter-spacing-1">Value</label>
										<input type="hidden" class="form-control" formControlName="value">
										<div id="keypressDropArea-{{ i }}" class="dropArea" (drop)="drop($event)"
											ondragover="allowDrop(event)"></div>
									</div>
									<i class="remove-applet fa fa-times-circle" *ngIf="form.controls.Keypress.length > 1" (click)="removeKeypress(i)"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="voice-heading" for="pwd">Next <p>[ After the initial prompt, continue to the next
								applet ]</p></label>
						<div id="menuDropArea" class="dropArea" (drop)="drop($event)" ondragover="allowDrop(event)"></div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>