<div class="card  voice-template">
  <div class="card-header no-border bg-transparent pad-tb-10 pad-lr-10">
    <button type="button"
			class="letter-spacing-1 f-size-14 card-link bg-transparent pad-lr-15 pad-tb-5 border-r-5 no-border"
			data-toggle="collapse" data-target="#collapseTwo">
			<img class="max-height-35" src="/assets/images/call.png" />
		</button>
  </div>
  <div id="collapseTwo" class="collapse show">
    <div class="card-body">
      <h2 class="f-size-24">Hanging up the phone — <i>Clack</i></h2>
      <p class="voice-heading">Hangs up the phone.</p>
    </div>
  </div>
</div>