<div class="container">
	<div class="row">
		<div class="row">
			<div class="col-sm-12 pad-lr-0 bg-light relative">
				<span class="inline-block no-margin f-size-22 pad-tb-10 pad-lr-15">Call Flows</span>
				<a routerLink="/" class="float-right bg-grey pad-lr-20 pad-tb-5 text-white border-r-5 f-size-14 relative top-12" role="button">Export</a>
				<a routerLink="/call-flow-designer"
					class="float-right pad-lr-20 pad-tb-5 text-grey border-grey border-1 border-r-5 mar-r-10 f-size-14 relative top-12" role="button">Add New Flow</a>
			</div>
		</div>
	</div>
	<div *ngIf="success" class="alert alert-success">
        {{message}}
  	</div>
  	<div *ngIf="error" class="alert alert-danger">
    	{{message}}
  	</div>
	<div class="row mar-t-30">
		<div class="col-sm-12">
			<div class="voice-table-container">
				<table class="table voice-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Created Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let flow of flows.data">
							<td>{{ flow.id }}</td>
							<td>{{ flow.name }}</td>
							<td>{{ flow.created_at | date: 'h:mm a, dd-MMM-yyyy' }}</td>
							<td>
								<span class="relative inline-block title-container">
									<i class="fa fa-phone" aria-hidden="true"></i>
									<app-title [title]="'Test_Call'"></app-title>
								</span>
								<span class="relative inline-block title-container">
									<a routerLink="/call-flow-designer/{{flow.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
									<app-title [title]="'Edit'"></app-title>
								</span>
								<span class="relative inline-block title-container">
									<i class="fa fa-files-o" aria-hidden="true" ></i>
									<app-title [title]="'Copy'"></app-title>
								</span>
								<span class="relative inline-block title-container">
									<i class="fa fa-clone" aria-hidden="true"></i>
									<app-title [title]="'Rename'"></app-title>
								</span>
								<span class="relative inline-block title-container" (click)="deleteFlow(flow.id)">
									<i class="fa fa-trash" aria-hidden="true"></i>
									<app-title [title]="'Delete'"></app-title>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	  	
	</div>

	<ul *ngIf="flows.last_page > 1 " class="pagination">
	  	<li *ngIf="flows.current_page > 1" class="page-item">
	  		<a class="page-link" routerLink="/call-flows" (click)="loadFlows(flows.current_page-1)">Previous</a>
	  	</li>
	  	<li *ngFor="let page of pages" class="page-item" [ngClass]="{'active': page==flows.current_page}">
	  		<a class="page-link" routerLink="/call-flows" (click)="loadFlows(page)">{{page}}</a>
	  	</li>
	  	<li *ngIf="flows.current_page < flows.last_page"  class="page-item">
	  		<a class="page-link" routerLink="/call-flows" (click)="loadFlows(flows.current_page+1)">Next</a>
	  	</li>
	</ul>
</div>