/* You can add global styles to this file, and also import other style files */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* 
  Some general Theming Css
*/

*{
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none;
  &:focus{
    outline: none;
  }
}

$white: #f8f6ff;
$grey: #6c7ae0;
$transparent: transparent;
$black: #634a4a;

$theme-color: ('grey': $grey, 'white': $white, 'transparent': $transparent, 'black': $black);

@each $color,$value in $theme-color{
  .text-#{$color}{
    color: #{$value};
  }
  .bg-#{$color}{
    background: #{$value};
  }
  .border-#{$color}{
    border-color: #{$value};
  }
}

// Margins
$margin-left: ();
$margin-right: (10);
$margin-top: (5, 20, 30);
$margin-bottom: (0, 5);
$margin-top-bottom: (5, 20);
$margin-left-right: (30);

@each $margin in $margin-left{
  .mar-l-#{$margin} {
    margin-left: #{$margin} + 'px';
  }
}
@each $margin in $margin-right{
  .mar-r-#{$margin} {
    margin-right: #{$margin} + 'px';
  }
}
@each $margin in $margin-top{
  .mar-t-#{$margin} {
    margin-top: #{$margin} + 'px';
  }
}
@each $margin in $margin-bottom{
  .mar-b-#{$margin} {
    margin-bottom: #{$margin} + 'px';
  }
}
@each $margin in $margin-top-bottom{
  .mar-tb-#{$margin} {
    margin-top: #{$margin} + 'px';
    margin-bottom: #{$margin} + 'px';
  }
}
@each $margin in $margin-left-right{
  .mar-lr-#{$margin} {
    margin-left: #{$margin} + 'px';
    margin-right: #{$margin} + 'px';
  }
}

.no-margin{
  margin: 0px;
}

// Paddings
$padding-left: ();
$padding-right: (7);
$padding-top: (3, 50);
$padding-bottom: (7, 30);
$padding-top-bottom: (3, 5, 10, 15, 30);
$padding-left-right: (0, 5, 10, 15, 20, 30);

@each $padding in $padding-left{
  .pad-l-#{$padding} {
    padding-left: #{$padding} + 'px';
  }
}
@each $padding in $padding-right{
  .pad-r-#{$padding} {
    padding-right: #{$padding} + 'px';
  }
}
@each $padding in $padding-top{
  .pad-t-#{$padding} {
    padding-top: #{$padding} + 'px';
  }
}
@each $padding in $padding-bottom{
  .pad-b-#{$padding} {
    padding-bottom: #{$padding} + 'px';
  }
}
@each $padding in $padding-top-bottom{
  .pad-tb-#{$padding} {
    padding-top: #{$padding} + 'px' !important;
    padding-bottom: #{$padding} + 'px' !important;
  }
}
@each $padding in $padding-left-right{
  .pad-lr-#{$padding} {
    padding-left: #{$padding} + 'px' !important;
    padding-right: #{$padding} + 'px' !important;
  }
}

.no-padding{
  padding: 0px !important;
}

// z-index
$zIndex: (1, 2);

@each $h in $zIndex{
  .z-index-#{$h} {
    z-index: #{$h};
  }
}


// Height
$height: (200, 500);

@each $h in $height{
  .h-#{$h} {
    height: #{$h} + 'px';
  }
}

// Width
$width-percentage: (100);

@each $width in $width-percentage{
  .width-p-#{$width} {
    width: #{$width} + '%';
  }
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.width-full{
  width: 100vw;
}

// Font Size
$font-size: (13, 14, 18, 24, 26, 35);

@each $font in $font-size{
  .f-size-#{$font} {
    font-size: #{$font} + 'px';
  }
}


// Left
$left: (0);

@each $l in $left{
  .left-#{$l} {
    left: #{$l} + 'px';
  }
}

// Right
$right: (10, -20);

@each $r in $right{
  .right-#{$r} {
    right: #{$r} + 'px';
  }
}

// Top
$top: (0, 10, 12, 200);

@each $t in $top{
  .top-#{$t} {
    top: #{$t} + 'px';
  }
}
// Bottom
$bottom: ();

@each $b in $bottom{
  .bottom-#{$b} {
    bottom: #{$b} + 'px';
  }
}

// Font Size
$rotation: (45);

@each $rotate in $rotation{
  .rotate-#{$rotate} {
    transform: rotate( + #{$rotate} + deg);
  }
}

// Font Size

$font-size: (12, 14, 18, 22, 26);

@each $font in $font-size{
  .f-size-#{$font} {
    font-size: #{$font} + 'px';
  }
}

// Max Height

$max-height: (35);

@each $height in $max-height{
  .max-height-#{$height} {
    max-height: #{$height} + 'px';
  }
}

$border-size: (1,3);

@each $border in $border-size{
  .border-b-#{$border} {
    border-bottom: #{$border} + 'px' solid;
  }
  .border-#{$border} {
    border: #{$border} + 'px' solid;
  }
}

$border-radius: (5, 15, 20);
@each $border in $border-radius{
  .border-tl-radius-#{$border}{
    border-top-left-radius: #{$border} + 'px';
  }
  .border-tr-radius-#{$border}{
    border-top-right-radius: #{$border} + 'px';
  }
  .border-br-radius-#{$border}{
    border-bottom-right-radius: #{$border} + 'px';
  }
  .border-r-#{$border}{
    border-radius: #{$border} + 'px';
  }
}

$letter-spacing: (1, 2);

@each $letter in $letter-spacing{
  .letter-spacing-#{$letter} {
    letter-spacing: #{$letter} + 'px';
  }
}

.box-shadow{
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
}

.inline-block{
  display: inline-block;
}
.voice-table-container{
  max-height: 600px;
  overflow-y: auto;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
  .voice-table{
    margin: 0px;
    background: #f8f6ff;
    tr,td,th{
      border: 0px !important;
    }
    tr{
      // background: #f8f6ff;
      &:hover{
        // cursor: pointer;
        // opacity: 0.65;
        background: #ffffff;
      }
      th{
        letter-spacing: 1px;
        font-weight: 900;
        font-size: 14px;
      }
    }
    th, td{
      text-align: center;
      padding: 10px 20px !important;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 30px;
      i{
        display: inline-block;
        padding: 5px 5px;
        font-size: 14px;
        cursor: pointer;
        height: 28px;
        width: 28px;
        background: white;
        border: 1px solid #c7c7c7;
        border-radius: 50%;
        margin: 0px 5px;
        transition: all 0.4s ease-in-out;
        transform: translate(0px, 0px);
        text-align: center;
        &:hover{
          background: $grey;
          color: white;
          transform: translate(0px, -3px) scale(1.15);
        }
      }
    }
    th{
      background: $grey;
      color: $white;
      &:first-child{
        border-top-left-radius: 20px;
      }
      &:last-child{
        border-top-right-radius: 20px;
      }
    }
  }
}

.voice-input{
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: .375rem 0.5rem;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0rem;
  transition: border-color 0.3s ease-in-out,box-shadow 1s ease-in-out;
  background: transparent;
  &:focus{
    outline: none;
    border-bottom: 2px solid #464646;
    border-color: $grey;
  }
  // & + button{
  //   position: absolute;
  //   right: 0px;
  //   background: transparent;
  //   border: 0px;
  //   top: 5px;
  //   cursor: pointer;
  //   i{
  //     color: #bdbdbd;
  //     font-size: 18px;
  //   }
  // }
}

.voice-icon{
  height: 30px;
  width: 30px;
  margin: 10px auto;
  background-color: $white;
  background-size: cover;

  &--greeting{
    background-image: url('/assets/images/hello.png');
  }
  &--menu{
    background-image: url('/assets/images/menu.png');
  }
  &--call{
    background-image: url('/assets/images/call.png');
  }
  &--dial{
    background-image: url('/assets/images/dial.png');
  }
  &--transfer{
    background-image: url('/assets/images/transfer.png');
  }
  &--collect{
    background-image: url('/assets/images/collect.png');
  }
  &--timing{
    background-image: url('/assets/images/time.png');
  }
  &--authorize{
    background-image: url('/assets/images/admin.png');
  }
}

.voice-radio{
  cursor: pointer;
  input[type=radio]{
    opacity: 0;
    & + span:before{
      font-size: 28px;
      color: #6c7ae0;
      font-family: 'fontAwesome';
      content: '\f111';
    } 
    &:checked + span:before{
      content: '\f058';
    }
  }
}
.voice-checkbox{
  cursor: pointer;
  input[type=checkbox]{
    opacity: 0;
    & + span:before{
      font-size: 24px;
      color: #6c7ae0;
      font-family: 'fontAwesome';
      content: '\f0c8';
    } 
    &:checked + span:before{
      content: '\f14a';
    }
  }
}

.voice-template{
  margin: 15px 10px;
  background: #f8f6ff !important;
  border: 1px solid #dcdcdc;
  // transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.21);
  &:hover{
    // box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.21);
  }
  .card-body{
    padding: 5px 20px;
  }
}

.voice-heading{
  font-size: 13px;
  text-transform: uppercase;
  // color: $grey;
  color: $black;
  font-weight: 600;
  letter-spacing: 1px;
  p{
    margin-bottom: 0px;
    font-size: 13px;
    text-transform: lowercase;
    font-weight: 500;
  }
}

.voice-sub-heading{
  
}

img, img:hover ,img:focus,button, button:hover ,button:focus{
    outline: none !important;
}

a, a:hover, a:active, a:visited{
  text-decoration: none !important;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.fixed{
  position: fixed;
}

.pointer{
  cursor: pointer;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.title-container{
  app-title{
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  i:hover {
    & + app-title{
      opacity: 1;
    }
  }
}

.font-600{
  font-weight: 600;
}

.no-border{
  border: 0px !important;
}

// Previous Css
.droplet-box {
  min-width: 110px;
  min-height: 90px;
  padding: 5px;
  border: solid 1px #e0dddd;
  color: $grey;
  font-weight: 600;
  cursor: move;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin: 5px;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
  font-size: 13px;
  transition: all 0.6s cubic-bezier(0, 0, 0.2, 1);
  background: #f8f6ff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:hover{
    // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    //             0 2px 2px 0 rgba(0, 0, 0, 0.14),
    //             0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transform: scale(1.05) translate(0px, 0px);
  }
}

.droplet-box:active {
  box-shadow: 0 3px 1px -2px rgba(247, 247, 247, 0), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(119, 119, 119, 0.35);
}

.drop-boundary {
  height: 75px;
  width: auto; 
  border: 1px dashed #ccc
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .droplet-box:last-child {
//   border: none;
// }

.droplet-list.cdk-drop-list-dragging .droplet-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.droplet-list{
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.dropArea{
    height: 102px;
    width: 137px;
    border: 1px dashed #afafaf;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:after{
      font-size: 15px;
      content: "drag your component here";
      position: absolute;
      top: 50%;
      left: 50%;
      line-height: 18px;
      transform: translate(-50%, -50%);
      color: #888888;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }
    &:hover{
      cursor: pointer;
      border: 1px dashed $grey;
      &:after{
        color: $grey;
        opacity: 1;
      }
    }
    &{
      .droplet-box{
        position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // width: 265px;
        width: 125px;
        cursor: default;
      }
    }
}
a.add-new{
  background: #ccc;
  padding: 6px 12px;
  border-radius: 5px;
  float: right;
  text-decoration: none;
}
.remove {
  background: #f00;
  padding: 6px 12px;
  border-radius: 5px;
  float: right;
  text-decoration: none;
}
.remove-me {
  background: $grey;
  top: 5px;
  right: 5px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  height: 20px;
  color: $white;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}