.fadeIn{
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.fadeOut{
  pointer-events: none;
  opacity: 0;
}

.add-applet-btn{
  position: absolute;
  top: 4px;
  right: 10px;
  padding: 5px 1px;
  // padding-left: 25px;
  background: #f8f6ff;
  border-radius: 20px;
  color: #123c6c;
  font-weight: 600;
  font-size: 14px;
  text-transform: lowercase !important;
}

.call-flow-name{
  width: 500px;
    float: right;
    height: 53px;
    font-size: 20px;
}