<div class="container">
  <div class="row">
    <div class="col-sm-12 pad-lr-0 bg-light relative">
      <span class="inline-block no-margin f-size-22 pad-tb-10 pad-lr-15">Call Flow Designer</span>
      <form [formGroup]="callFlowForm" (ngSubmit)="saveFlow()">
        <input class="voice-input call-flow-name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" placeholder="Enter your flow name here" #flowName/>
        <button type="submit" class="absolute top-10 border-r-5 border-0 text-white letter-spacing-1 right-10 bg-grey pad-t-3 pad-b-7 pad-lr-15">save</button>
        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
          <div *ngIf="submitted && form.name.errors.required">Name is required.</div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="success" class="alert alert-success">
    {{message}}
  </div>
  <div *ngIf="error" class="alert alert-danger">
    {{message}}
  </div>
  <!-- <div class="fixed width-full top-200 left-0 scroll-y h-200">
    <div class="container"> -->
  <div class="row">
    <div class="col-sm-4 relative pad-lr-0">
      <p
        class="letter-spacing-1 mar-b-0 pad-tb-10 bg-white absolute top-0 left-0 width-p-100 z-index-2 border-tl-radius-15">
        Components</p>
      <div class="h-500 pad-t-50 pad-b-30 overflow-y-scroll">
        <div id="{{item.id}}" class="droplet-box text-center" *ngFor="let item of droplets" draggable="true"
          ondragstart="dragMe(event)">
          <p class="mar-tb-5 f-size-26 voice-icon voice-icon--{{  item.icon }}"></p>
          <!-- <p class="mar-tb-5 f-size-26 fa {{ item.icon }}"></p> -->
          <p class="no-margin f-size-13 letter-spacing-1 text-black">
            {{item.name}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 relative pad-lr-15">
      <p
        class="letter-spacing-1 mar-b-0 bg-white pad-tb-10 pad-lr-15 text-black absolute top-0 left-0 width-p-100 z-index-2 border-tr-radius-15">
        Dropped Items</p>
      <div class="h-500  pad-lr-0 pad-t-50 pad-b-30 overflow-x-hidden overflow-y-scroll">
        <div style="display: none;">
          <button *ngFor="let item of droppedItems" id="{{ item.id }}"
            (click)="removeComponent(item.className, item.id)">Remove</button>
        </div>
        <div id="defaultDropArea" class="dropArea" (drop)="drop($event)" ondragover="allowDrop(event)"></div>
        <ng-template #container></ng-template>
      </div>
    </div>
  </div>
  <!-- </div>
  </div> -->
</div>